@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-main: var(--font-syncopate);
  --font-pop: var(--font-poppins);
  --font-rob: var(--font-roboto);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main), sans-serif;
}

.hero {
  background-image: url("/hero_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--font-main), sans-serif;
}

.bg2 {
  background-image: url("/hero_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  position: relative;
}

.home::before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #a36939;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: -6px;
  transform: translate(-50%, -50%);
}

.nav_button {
  font-family: var(--font-pop);
}

.nav_b {
  font-family: var(--font-pop);
}

.hero_desc {
  position: relative;
  font-family: var(--font-rob);
  font-size: 20px;
  font-weight: 400;
  color: #ededed;
}

@media screen and (max-width: 768px) {
  .hero_desc::before {
    content: "";
    height: 100%;
    width: 4px;
    background-color: #4a7639;
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) {
  .hero_desc::before {
    content: "";
    height: 0px;
    width: 0px;
    background-color: #4a7639;
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1280px) {
  .hero_desc::before {
    content: "";
    height: 100%;
    width: 4px;
    background-color: #4a7639;
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 400px) {
  .hero_desc::before {
    content: "";
    height: 0;
    width: 0;
    background-color: #c90000;
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(-50%, -50%);
  }
}

.hero_left_p {
  font-family: var(--font-rob);
  font-size: 12px;
  font-weight: 400;
}

.hero_left_p_bf {
  position: relative;
  font-size: 10px;
}

.hero_left_p_bf::before {
  content: "";
  height: 100%;
  width: 2px;
  background-color: #d9d9d9;
  position: absolute;
  top: 50%;
  left: -12px;
  transform: translate(-50%, -50%);
}

.img_card {
  position: absolute;
  top: -50px;
  right: -15px;
  width: 337px;
}

.rbf {
  font-family: var(--font-rob);
}
